@font-face {
  font-family: "SF Pro Display";
  src: url("fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 16px;
}
body {
  font-family: "SF Pro Display", sans-serif;
}
.navbar {
  height: 5rem;
  align-items: center;
  backdrop-filter: blur(24px);
  z-index: 1000;
  top: 0;
}
@media (max-width: 1199px) {
  #navbarSupportedContent {
    position: absolute;
    top: 5rem;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
  }
  .navbar-collapse.show {
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
  }
  .prg {
    padding-right: 3vw;
    min-height: calc(100vh-5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .item {
    margin: 0 auto;
    width: 18.75rem;
  }
}
.navbar-collapse {
  margin-right: 3vw;
}
@media (min-width: 1200px) {
  .item {
    width: 100%;
  }
}

.prg {
  padding-left: 4vw;
}
.navbar-brand {
  margin-left: 6vw;
}
#navbarSupportedContent {
  width: 100%;
}
.konten {
  animation: fadeIn 0.5s ease;
}
.row {
  padding-top: 5rem;
}
.navbar-nav {
  gap: 1rem;
}
.nutri {
  color: #95cd41;
  font-weight: bold;
  font-size: 1.5rem;
}
.plan {
  color: #ea5c2b;
  font-weight: bold;
  font-size: 1.5rem;
}
.ijo {
  background-color: #95cd41;
  transition: all 0.3s ease;
}
.ijo:hover {
  background-color: #6e9c29;
}
.oren {
  background-color: #ea5c2b;
  transition: all 0.3s ease;
}
.oren:hover {
  background-color: #cd4c22;
}
.nav-link {
  font-size: 1rem;
}

.pg1-h1 {
  color: #ffcc00;
  font-size: 3rem;
}
.pg1-h2 {
  color: #ffcc00;
}
.pg2-h1 {
  text-align: center;
  background: linear-gradient(90deg, #FC0 0%, #FF7F3F 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
}
.parag-homepage {
  color: #ea5c2b;
}
.lat-blkg {
  background: linear-gradient(to top right, #ffd8df, #f0ffdf);
}
.brokoli {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-12.98deg);
  width: 80px;
}
.elip1 {
  z-index: 1;
  top: 8%;
  right: 4%;
  position: absolute;
  width: 65px;
}
.plate {
  top: 0;
  position: absolute;
  width: 350px;
  left: 0;
}
.wortel {
  position: absolute;
  z-index: 2;
  bottom: 2%;
  left: 13%;
  width: 80px;
}
.elip2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 60px;
}
.protein {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
}
.serat {
  width: 320px;
  position: absolute;
  left: 0;
  top: 0;
}
.wadah {
  min-height: 350px;
  max-height: 350px;
}
.jagung {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 8%;
  width: 90px;
}
.elip3 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 90px;
}
